.logo {
    background-color: transparent;
    font-size: 40px;
    height: fit-content;
    align-items: center;
    cursor: pointer;
    position: relative;
}


@media only screen and (max-width: 992px) {
    .hidden {
        display: none;
    }
}
