.logo {
    background-color: transparent;
    height: 52px;
    padding: 4px;
}

.navbar button {
    margin-inline: 4px;
}

.navbar button:hover {
    border: 2px solid cyan;
}

.navbar p {
    text-transform: capitalize;
}
