.logo {
    background-color: transparent;
    font-size: 40px;
    height: fit-content;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* .logoText:hover {
    transform: scale(1.1)
} */

/* .logo .logoText {
    position: relative;
    animation: flip 2s infinite;
    animation-delay: calc(2s * var(--l))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
} */
