.tabLable button {
    text-decoration: wavy;
}

.projectDisplayImg {
    object-fit: fill;
    border-radius: 10px;
}

.projectDisplayImg:hover {
    object-fit: cover;
    transform: scale(1.05);
    transition: 0.3s ease-out;
}

.projectSkills:hover {
    transition: 0.3s ease-out;
}
