.sidenavButton {
    padding: 4px;
    border-radius: 8px;
    text-transform: capitalize;
}

.sidenavButton:hover {
    cursor: pointer;
}

/* @media only screen and (max-device-width:768px) {
    .sidenavButtonText {
        display: none;
    }
} */
