.sidenavButton {
    padding: 4px;
    border-radius: 8px;
    text-transform: capitalize;
}

.sidenavButton:hover {
    cursor: pointer;
    border: 2px solid cyan;
}

.sidenavButton:active {
    background-color: red;
}
