/* .container-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */

/* .divider {
    width: 90%;
    margin-inline: auto;
    margin-top: 2px;
    margin-bottom: 2px;
} */
