@import url("./components/Header.css");
@import url("./components/Footer.css");
@import url("./components/Sidenav.css");
@import url("./components/Projects.css");
@import url("./components/ProjectCard.css");
@import url("./components/Certificates.css");

.container-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 10;
}

.footer {
    position: absolute;
    margin-top: auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    border: 4px solid black;
    border-radius: 8px;
    height: fit-content;
}

.sidenav {
    margin-top: 60px;
    left: 0;
}

.sidenav * {
    text-transform: capitalize;
}

.content {
    border: 4px solid black;
    width: auto;
    margin-top: 60px;
    padding-top: 4px;
}
