@font-face {
  font-family: "comfortaa";
  src: url("fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype");
}


* {
  font-family: "comfortaa";
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}
